:root{
    --primary-color: hsl(259, 100%, 65%);
    --secondary-color: hsl(0, 100%, 67%);

    --tertiary-color: hsl(0, 0%, 94%);
    --fouthary-color: hsl(0, 0%, 86%);
    --fifthary-color: hsl(0, 1%, 44%);
    --sixthary-color: hsl(0, 0%, 8%);
}

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--fouthary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

input{
    font-size: 1.25rem;
    padding: .9375rem.3125rem ;
    font-weight: 700;
    color: var(--sixthary-color);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

main{
    background-color: var(--tertiary-color);
    margin: .9375rem;
    padding: 3.125rem .9375rem;
    border-radius: 1.5625rem 1.5625rem 6.25rem 1.5625rem  ;
}

.date-form label{
   color: var(--fifthary-color);
   text-transform: uppercase;
   display: flex;
   flex-direction: column;
}

.date-form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    grid-template-areas: 
    ". . . . "
    "btn btn btn btn";
}
.date-form input{
    width: 5rem;
    margin-right: .9375rem;
    border: 1px solid var(--fouthary-color);
    border-radius: .3125rem;
}

.date-form input:focus{
    border: 2px solid var(--primary-color);
    outline: none;
}

.line-with-img{
    text-align: center;
    padding-top: 3.125rem;
    grid-area: btn;
}

.line-with-img button{
    position: relative;
    top: -2.875rem ;
    background-color: var(--primary-color);
    border-radius: 50%;
    padding: .9375rem;
    border: none;
    cursor: pointer;
}

.line-with-img button:hover,
.line-with-img button:active{
    background-color: var(--sixthary-color);
}

.line-with-img hr{
    border: 1px solid var(--fouthary-color);
   
}

.results-container{
    display: flex;
    align-items: center;
    font-size: 32px;
}

.results-container p{
    padding-left: .625rem;
    margin: 0;
    color: var(--sixthary-color);
}

.results-container span{
    color: var(--primary-color);
}

@media screen and (min-width: 768px){
    main{
        width: 31.25rem ;
        padding: 3.125rem;
    }

    .line-with-img{
        text-align: right;
    }

    .date-form input{
        width: 6rem;
    }
}